body {
    background-color: #222;
}

.calculator {
    width: 25rem;
    margin: 40px auto;
    background: #111;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
}


.display {
    background: #000;
    color: #0f0;
    font-size: 32px;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 15px;
    border: 1px solid #333;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    padding: 15px;
    font-size: 50px;
    border: none;
    border-radius: 12px;
    background: #222;
    color: white;
    cursor: pointer;
}


button:hover {
    background: #333;
}


.operator {
    background: #1a4b9a;
}


.operator:hover {
    background: #275fbd;
}


.zero {
    grid-column: span 2;
}