*{
    align-items: center;
    text-align: center;
}
h1{
    width: 600px auto;
    background: linear-gradient(rgba(235, 187, 189, 0.521),rgba(207, 252, 203, 0.87)); 
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1000px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
h1:hover{
   background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}
table {
    width: 20%;
    border-collapse: collapse;
    color: #000000;
    margin: 100px auto;
    align-items: center;
}

table th {
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 3, 16, 0.3);
    padding: 12px;
    border: 1px solid var();
}

table td {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

table tr:hover {
   background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}
body{

    margin: 0 auto;
    font-family: 'Times New Roman';
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 1.6;
    background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}

section{
    background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}
.Month{
    color: rgb(0, 0, 0);
    font-size: 30px;
    background: linear-gradient(rgba(235, 187, 189, 0.521),rgba(207, 252, 203, 0.87)); 
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1000px;
    cursor: pointer;
    color: rgb(5, 5, 5);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Month:hover{
   background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}


.Back{
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: rgb(34, 12, 85);
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: rgba(207, 252, 203, 0.87)
}
.Back:hover{
    background-color: rgba(235, 187, 189, 0.521)
}
nav ul li a{
    list-style: none;
    text-decoration: none;
}

.Inv-days{
    color: rgb(187, 187, 183);
}