table {
    width: 20%;
    border-collapse: collapse;
    color: #000000;
    margin: 100px auto;
    align-items: center;
}

table th {
    background: rgba(255, 3, 16, 0.3);
    padding: 12px;
    border: 1px solid var();
}

table td {
    padding: 10px;
    border: 1px solid #0f832255;
    text-align: center;
}

table tr:hover {
    background: rgba(0, 61, 24, 0.1);
}
body{
    margin: 0 auto;
    font-family: 'Times New Roman';
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 1.6;
    background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}

section{
    background: linear-gradient(rgba(207, 252, 203, 0.87),rgba(235, 187, 189, 0.521)); 
}
.Month{
    margin: 0;
    color: rgb(5, 27, 46);
    font-size: 30px;
}
*{
    align-items: center;
    text-align: center;
}
h1{
    font-size: 45px;
}
.Back{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color: rgb(69, 30, 143);
}
li{
    list-style: none;
    text-decoration: none;
}

