/* Fondo general oscuro */
body {
    background: #0d1117;
    /* azul/negro tipo GitHub Dark */
    color: #e6e6e6;
    font-family: Arial, sans-serif;
}

/* Header poner hover que me robé del código de jhoan */
header {
    padding: 20px 0;
    background: #111827;
    border-bottom: 2px solid #1f2937;
}

header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    text-shadow: 0 0 10px rgba(88, 166, 255, 0.4);
}

/* Tabla */
table {
    font-size: 22px;
    border-collapse: collapse;
    margin: 40px auto;
    width: 90%;
    max-width: 900px;
    background: #1a2332;
    /* azul oscuro más claro */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}

/* Titulos bacanos */
th {
    background: #111827;
    color: #ffffff;
    padding: 15px;
    text-transform: uppercase;

    border: 1px solid #2d3748;
}

/* Celdas blanquitas pa fondo negro */
td {
    border: 1px solid #2d3748;
    padding: 12px;
    color: #d1d5db;
}

tr:nth-child(odd) {
    background: #1a2332;
}

/* Hover para hacerlo tipo "app" */
tr:hover td {
    background: #2b3a4f;
    transition: 0.2s;
}