*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --header: linear-gradient(2deg, rgba(30, 6, 39, 0.623), rgba(154, 53, 179, 0.527));
    --hour: black;
    --letters:white;
}
html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}
body{
    height: 100%;
    color: var(--letters);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../img/paisaje-digital-en-atardecer-5846.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 97%;
    background: var(--header);
}
img{
    width: 60px;
    transition: all 0.3s ease-in-out;
   
}

img:hover{
    transform: translateY(-5px);
}

.hour{
    background-color: var(--hour) ;
    padding: 5px;
    text-align: center;
}

.ubuntu{
    width: 80px;
    filter: brightness(9000);
    padding-top: 33rem;
}

button{
    all: unset;
    cursor: pointer;
}

.window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background: white;
   
    box-shadow: 0 2px 60px black;
}


.window:target {
    display: block;
}

.close {
    position: absolute;
    right: 20px;
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-size: 2rem;
    
}

.window iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.home{
    border-radius: 0.5rem;
    width: 55px;
    margin-top: 3px;
}
